* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.container {
    display: flex; 
    align-items: flex-start; 
    padding: 20px; 
    position: absolute; 
    top: 0;
    left: 0;
}

.header h1 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 18px;
    margin-bottom: 20px;
}

.links p {
    margin: 5px 0;
}

.website-link {
    color: rgb(255, 255, 255)
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.website-link:hover {
    text-decoration: none; 
    color: #ff9ec2; 
}

.third-left a {
    color: #ffffff; 
    text-decoration: none; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 0; 
}

.top-left {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    padding: 70px 0px 50px 70px; 
    text-align: left;
    font-weight: 100;
    line-height: 1.3;
    top: 0;
    left: 0; 
}

.links{
    position: absolute;
    bottom: 65px;
    right: 90px;
}


.image-button img {
    border-radius: 9%; 
    width: 35px; 
    height: 35px; 
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.image-button img:hover {
    opacity: 1; 
}

.name {
    font-size: 270px;
    position: absolute;
    bottom: 0px; 
    left:50px; 
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 200;


}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    background-color: black; 
    object-fit: cover;
}

.button-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 90px;
    top: 50px;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px 30px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #000; 
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.btn:hover {
    background-color: rgba(255, 255, 255); 
}

/*----------------------------------------------ABOUT------------------------------------------------*/

.about-container{
    
    position: absolute;
    flex-direction: column; 
    text-align: left; 
    top: 38%;
    left: 12%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    width: 70%;
    color: rgb(165, 165, 165);
}

.about-heading{
    position: absolute;
    top: 22%; 
    left: 12%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: 70px; 
}

.about-container b{
    color: white;
}

@media (max-width: 1000px) {
    .about-container {
        left: 10%;
        width: 80%;
        font-size: 12px;
    }

    .about-heading {
        top: 25%; 
        left: 10%;
        font-size: 50px;
    }
    .about-buttons{
        left:10%;
        font-size: 12px;
        position: absolute;
        top: 80%;
    }
}

.about-container p {
    margin-bottom: 16px; 
}

.button-container2 {
    display: flex;
    flex-direction: column; 
    position: fixed;
    bottom:70px;
    right: 35px; 
    gap: 20px; 
    margin-top: 20px;
}
.btn2{
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight:400;
    background-color: transparent; 
    text-decoration: none; 
    text-align: right; 
    color: rgb(165, 165, 165);
}

.about-buttons{
    position: absolute;
    left: 12%;
    top: 58%; 
    gap: 20px; 
    margin-top: 20px;
    display: flex; 
}

.btnp{
    display: inline-block;
    padding: 10px; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight:200;
    color: white; 
    background-color: rgb(67, 67, 67); 
    text-decoration: none; 
    border: 1px solid white; 
    border-radius: 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    width: 100px;
    text-align: center;
}

.btnc{
    display: inline-block;
    padding: 10px; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight:200;
    color: white; 
    background-color: transparent; 
    text-decoration: none; 
    border: 1px solid white; 
    border-radius: 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    width: 70px;
    text-align: center;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    margin: 15% auto;
    padding-top: 40px;
    background-color: grey;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0px;
    right: 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(255, 143, 184);
    text-decoration: none;
    cursor: pointer;
}.temp-btn{
    color: white;
}